@use '@angular/material' as mat;

// ── TailwindCSS ────────────────────────────────────────────────────────────────
@tailwind base;
@tailwind components;
@tailwind utilities;

// ── Angular Material M3 theme ──────────────────────────────────────────────────
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: 'Roboto',
      brand-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
