@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

// ── TailwindCSS ────────────────────────────────────────────────────────────────
@tailwind base;
@tailwind components;
@tailwind utilities;

// ── Angular Material M3 theme ──────────────────────────────────────────────────
@mixin apply-theme($density-scale) {
  $theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (
        plain-family: 'Roboto',
        brand-family: 'Roboto',
      ),
      density: (
        scale: $density-scale,
      ),
    )
  );

  @include mat.all-component-themes($theme);
}

html {
  @include apply-theme(0);
}

html.app-density--1 {
  @include apply-theme(-1);
}

html.app-density--2 {
  @include apply-theme(-2);
}

html.app-density--3 {
  @include apply-theme(-3);
}

html.app-density--4 {
  @include apply-theme(-4);
}

html.app-density--5 {
  @include apply-theme(-5);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: 'Lekton', serif;
}
